#Object files
*.o
*.d

coolix
# vc project files
*.vcxproj
*.filters

# Other types of project files
stdafx.h
stdafx.cpp
ReadMe.txt
targetver.h

# Swap files
*.swp

# Codelite information
*.project
*.workspace
*.mk
.codelite/

# git patch files
*.diff
